/* css styles */

/* Set gray background for entire page */
body {
  background-color: #333333;
  color: #ffffff;
  font-family: "Source Sans Pro", "Times New Roman", serif;
}

/* Override other elements for better visibility */
a {
  color: #add8e6; /* light blue links */
}

/* Mermaid diagram font color */
:root {
  --mermaid-label-fg-color: #ffffff;
}

.mermaid .edgePath path {
  stroke: #ffffff !important;
}

.mermaid .marker {
  fill: #ffffff !important;
}

.navbar {
  background-color: #1f1e1e !important;
}

.quarto-title-banner {
  background-image: url("media/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: transparent !important; */
  color: white;
  z-index: 0;
}

/* Footnote background and color */
.footnotes {
  background-color: #333333;
  color: #ffffff;
  border-top: 1px solid #555555;
  padding-top: 1em;
}

#quarto-appendix.default {
  background-color: #333333; /* match page background */
  color: #ffffff;            /* match text color */
  padding-top: 1.5em;
  margin-top: 2em;
  z-index: 998;
}
